<nav class="navbar">
	<h1 style="background-color:rgb(0,192,255);padding-left:50px;font-family:'Eater', cursive;color:rgb(192,255,0);">Anonymous Haggard Blog</h1>
	<div class="logout" style="color: rgb(255, 255, 255);">
		<a id="button_logout" href="/logout" style="color: rgb(0, 192, 255);">Logout</a>
	</div>
	<div class="main" style="color: rgb(255, 255, 255);">
	<a id="button_main" href="/main" style="color: rgb(0, 192, 255);">Main</a>
</div>
</nav>

